body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.jumbotron.jumbotron-fluid {
    text-align: center;
padding: 10px;
background: burlywood;
}
.display-4{
    text-align: center;
    color: white;
}
.container{
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.col{
    width: 100%;
   
}
.row{
    width: 100%;
}
h1{
    color: white;
    font-size: 25px;
    text-align: center;

}
#goodGuyCharacters{
    width: 100%;
    margin-left: 50px;
}
#badGuyCharacters{
    width: 100%;
    margin-left: 50px;
}
.goodGuyImageClass{
    width: 150px;
    height: 200px;
    border: 10px solid white;
    margin: 5px;
 
} 
.badGuyImageClass{
    width: 150px;
    height: 200px;
    border: 10px solid black;
    margin: 5px;
}
h2{
    color: white;
    font-size: 25px;
    text-align: center;
}
#goodGuyFighting{
    margin-left: 150px;
}
#goodGuyNameDisplayed{
    color: white;
    font-size: 25px;
    margin-left: 155px; 
}
#badGuyFighting{
    margin-left: 150px;
}
#badGuyNameDisplayed{
    color: white;
    font-size: 25px;
    margin-left: 155px; 
}
#gamePlayDescribed{
    border: 5px black solid;
    background: burlywood;
    height:400px;
}
#startDuel{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    background:white;
    color: lightblue;
    font-size: 25px;
}
#duelingText{
    color: white;
    font-size: 25px;
    float: left;
}




